# Configuración del Servidor y Base de Datos MySQL
PORT=3000
NODE_ENV=development

# Credenciales de Base de Datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=bd_psicologia_scorza

# Clave Secreta para Tokens JWT (JSON Web Token)
JWT_SECRET=ScorzaPsicologia2026SecretKeyJWT!#99
JWT_EXPIRES_IN=8h
